.main-elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left-element{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 400px;
}
.right-element{
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 400px;
}
.picture-line{
  display: flex;
  flex-direction: row;
}
