.card_picture{
  margin-right: 10px;
  margin-bottom: 10px;
}
.image-for-card{
  margin-left: 10px;
  margin-top: 10px;
  max-width: 120px;
}
.image-for-card:hover{
  border: 1px solid rgb(9,44,219);
  -webkit-box-shadow: -1px 1px 60px -20px rgba(9,44,219,1);
  -moz-box-shadow: -1px 1px 60px -20px rgba(9,44,219,1);
  box-shadow: -1px 1px 60px -20px rgba(9,44,219,1);
}
@media screen and (max-width: 400px) {
  .image-for-card{
    margin-left: 5px;
    margin-top: 5px;
    max-width: 60px;
  }
}
