.card_detail{
  display: flex;
  flex-direction: column;
  min-width: 450px;
  margin-left: 1rem;
}
.card_detail_title{
  margin-top: 5px;
}
.card_detail_title >h1{
  color: rgb(229, 229, 229);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bolder;

}
.card_detail_text{
  margin-top: 10px;
  max-width: 450px;
}
.card_detail_text >p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: rgb(255,255,255);
}
.image{
  cursor: pointer;
  padding: 0;
  background-color: #597790;
}
